body {
    background-color: gainsboro;
    width:1366px;
}

header{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    border-bottom: solid rgb(66, 66, 66);
}

h1{
    text-align: center;
    padding-top:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

header h2{
    padding-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

article{
    column-count: 2;
    column-gap: 70px;
    width:1000px;
    margin-left:200px;
    margin-right:200px;
    padding-top:30px;
}

article h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top:20px;
}

img{
    width:400px;
    padding-left:30px;
    padding-right:30px;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width:1000px;
    margin:auto;

    border-top: solid black;
    margin-top:40px;
    padding-top:40px;
    padding-bottom:20px;
}

a{
    color:cadetblue;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}