body {
    background-color: lightskyblue;
    margin: 50px;
    width: 1000px;
    height:768px

}

article{
    margin-left: 20px;
    padding-bottom:50px;
    border-bottom-style:solid;
    border-color:rgb(104, 104, 104);
} 

body > h1{
    padding-bottom:50px;
    border-bottom-style:solid;
    font-family: 'Playfair Display', serif;
}
#title {
    display:flex;
    justify-content: space-between;
    color:rgb(34, 34, 34);
    font-family: 'Playfair Display', serif;
    font-size:12px;
    line-height:30px;
}

p{
    color:rgb(34, 34, 34);
    font-family: 'Slabo 27px', serif;

    column-count: 2;
    column-gap: 40px;
}
footer{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    color:rgb(34, 34, 34);
    margin-left:300px;
    margin-right:300px;
}

a{
    color:rgb(255, 255, 255);
    text-decoration:none;
}

#photos{
    display: flex;
    justify-content: space-between;
}

#map{
    height:250px;
    margin-left:25px;
    margin-top:20px;
    
}

#annoying{
    margin-left:25px;
}

#night{
    width:250px;
    margin-right:125px;
}

figcaption{
    color: azure;
    font-size: 12px;
    line-height: 20px;;
}
